.card {
    width: 220px;
    height: fit-content;
}

.appMiniScreen {
    /* background: url(${picture}); */
    background-size: cover;
    background-position: center;
    width: 221px;
    height: 175px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.appCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardGitHub {
    margin-right: 20px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #000302;
}

.content {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.cardFooterButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: 40px;
    width: 221px;
}

.cardView {
    background: #FAB96C;
    border-radius: 3px;
    width: 46px;
    height: 20px;
    border: None;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    /* padding: 5px; */
    font-size: 15px;
}

.cardView:visited {
    color: black;
}

.cardDetails {
    width: 54px;
    height: 20px;
    background: #A0E4D8;
    border-radius: 3px;
    border: None;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    font-size: 15px;
}