.card {
    width: 220px;
    height: fit-content;
}

.appMiniScreen {
    /* background: url(${picture}); */
    position: relative;
    width: 221px;
    height: 175px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    overflow: hidden;
}

.appMiniScreen:hover {
    box-shadow: 1px 6px 6px rgba(3, 3, 3, 0.5);
}

.appMiniScreenInner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* Add padding */
    display: flex;
    align-items: center;
    justify-content: center;
}

.appMiniScreenInner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.appCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardGitHub {
    margin-right: 20px;
    font-size: 14px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #000302;
}

.content {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

.cardFooterButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: 40px;
    width: 221px;
}

.cardView {
    background: #FAB96C;
    border-radius: 3px;
    width: 4rem;
    height: 1.5rem;
    border: None;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding-top: .20rem;
}

.cardView:visited {
    color: black;
}

.cardDetails {
    width: 4rem;
    height: 1.5rem;
    background: #A0E4D8;
    border-radius: 3px;
    border: None;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding-top: .20rem;
}

.cardDetails:hover,
.cardView:hover {
    box-shadow: 1px 6px 6px rgba(3, 3, 3, 0.25);
}