@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navbarContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 80px;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
    color: #000;
    top: 0;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 671;
    padding-bottom: 4px;
    padding-top: 4px;
}

.logoContainer {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.appLogo {
    width: 80px;
    height: 80px;
}

.buttonWrapper {
    min-width: 300px;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 10px;
}

.profileContainer {
    position: absolute;
    right: 0;
    height: 80px;
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin-right: 20px;
}