@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    font-size: 1.5rem;
    /* column-gap: 30px; */
    text-decoration: none;
    align-items: center;
    color: #000;
    /* position: sticky; */
    top: 0;
}

#nav-img {
    width: 200px;
    height: 210px;
    margin-top: 70px
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

.nav-link {
    border: 1px solid #A0E4D8;
    background-color: #A0E4D8;
    padding: 10px;
    color: black;
    font-family: Lato, sans-serif;
}

.nav-link:link {
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:visited {
    color: #000;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    height: 40px;
    margin-right: 5%;
}

.search-container button {
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 43.08px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #828282;
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 221.85px;
    height: 40px;
    background: #FEFDFE;
    border-radius: 10px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 40px;
    margin-right: 2rem;
}

.profile-icon {
    min-width: 40px;
}