@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    font-size: 1.5rem;
    column-gap: 30px;
    text-decoration: none;
    align-items: center;
    color: #000;
    position: sticky;
    top: 0;
}

#nav-img {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 0px;
}

#nav-link {
    border: 1px solid #A0E4D8;
    /* border-radius: 10px; */
    background-color: #A0E4D8;
    padding: 10px;
    color: black;
    font-family: sans-serif;
}

#nav-link:link {
    text-decoration: none;
}


/* not working  */

.nav-link:hover {
    color: #fff;
}

.nav-link:visited {
    color: #000;
}