@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    font-size: 1.5rem;
    /* column-gap: 30px; */
    text-decoration: none;
    align-items: center;
    color: #000;
    /* position: sticky; */
    top: 0;
}

#nav-img {
    width: 90px;
    height: 90px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

.nav-link {
    border: 1px solid #A0E4D8;
    /* border-radius: 10px; */
    background-color: #A0E4D8;
    padding: 10px;
    color: black;
    font-family: Lato, sans-serif;
}

.nav-link:link {
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:visited {
    color: #000;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}