.icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.imageWrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 2px solid #0db6b6;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}