.icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.imageWrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 2px solid #0db6b6;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageWrapper:hover {
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profileImageWrapper {
    background-color: rgb(237, 183, 185);
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, 0.001deg);
}

.profileImageWrapper:before,
.profileImageWrapper:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    clip: rect(0px, 75px, 150px, 0px);
    background-color: rgb(237, 183, 185);
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 2s spin2 linear 4s forwards;
    z-index: 2;
}

.profileImageWrapper:after {
    content: " ";
    background: rgb(9, 215, 181);
    z-index: 1;
    animation: 2s spin linear 2s forwards;
}

@keyframes spin {
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 180deg);
    }
}

@keyframes spin2 {
    from {
        background: rgb(9, 215, 181);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    to {
        background: rgb(9, 215, 181);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.profilePic {
    display: block;
    position: relative;
    z-index: 4;
    border: 5px solid white;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin: 4px 4px 4px 4px;
}